<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="stylesheet" href="/dist/css/style.min.css">

</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">Book Store</a>
            </div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/addbook">Add Book</a>
            </div>
        </div>
    </header>

    <div class="container">
        <h2 class="page-title m-4">Book Records</h2>

        <div class="card-container">
            <% book.forEach(book=> { %>
                <div class="card">
                    <div class="card-header">
                        <%= book.title %>
                    </div>
                    <div class="card-body">
                        <% if(book.image) { %>
                            <div class="book-info">
                                <img src="<%= book.image %>" alt="Book Cover"
                                    style="width: 200px; justify-content: space-between; display: flex;">
                            </div>
                            <% } %>
                                <div class="book-info">
                                    <strong>Author:</strong>
                                    <%= book.author %>
                                </div>
                                <div class="book-info">
                                    <strong>Price:</strong> ₹<%= book.price %>
                                </div>
                                <div class="book-info">
                                    <strong>Category:</strong>
                                    <%= book.category %>
                                </div>
                                <div class="book-info">
                                    <strong>Rating:</strong>
                                    <%= book.rating %>/5
                                </div>

                                <div class="actions">
                                    <a href="/edit_book/<%= book.id %>"><button class="btn btn-edit">Edit</button></a>
                                    <a href="/delete_book/<%= book.id %>"><button class="btn btn-delete">Delete</button></a>
                                </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
</body>

</html>