<%- include('../header') %>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Add extra Category</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add extra Category</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" action="/extracategory/addextraCategory" method="post">
                            <div class="card-body">
                                <h4 class="card-title">extra Category Details</h4>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">Category Name</label>
                                    <div class="col-sm-9">
                                    <select class="form-control" id="category" name="categoryname">
                                        <option value="">Select Category</option>
                                        <% categories.forEach((cat) => { %>
                                            <option value="<%= cat._id %>"><%= cat.categoryname %></option>
                                        <% }) %>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">Sub Category Name</label>
                                    <div class="col-sm-9">
                                    <select class="form-control" id="subcategory" name="subcategoryname">
                                        <option value="">Select Category</option>
                                        <% subcategories.forEach((cat) => { %>
                                            <option value="<%= cat._id %>"><%= cat.subcategoryname %></option>
                                        <% }) %>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">Extra Category Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="extracategoryname" id="lname" placeholder="Enter Your Extra Category Name">
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

<%- include('../footer') %>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let category = document.getElementById("category");
        let subcategory = document.querySelector("#subcategory");
        
        category.addEventListener('change', ()=> {
            console.log(category.value);
            let categoryId = category.value;
            subcategory.innerHTML = "<option>Select Sub Category</option>";
            fetch(`/subcategory/getAllSubCategory?categoryId=${categoryId}`)
            .then(res => res.json())
            .then(data => {
                console.log(data.categories);
                data.categories.forEach(cat => {
                    let option = document.createElement('option');
                    option.setAttribute('value', cat._id)
                    option.innerHTML = cat.subcategory
                    subcategory.appendChild(option)
                })
            })
            .catch(err => console.log(err));
        })
    })
</script>