<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body align="center">
    <a href="/">Home</a>
    <a href="/add-student">Add Student</a>
    <h1>Student Data</h1>

    <table border="1" width="50%" align="center">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Mobail No</th>
            <th colspan="2">Action</th>
        </thead>
        <tbody>
            <% students.forEach((students)=> { %>
                <tr>
                    <td>
                        <%= students.id %>
                    </td>
                    <td>
                        <%= students.name %>
                    </td>
                    <td>
                        <%= students.age %>
                    </td>
                    <td>
                        <%= students.email %>
                    </td>
                    <td>
                        <%= students.mobail %>
                    </td>
                    <td>
                        <button>Edit</button>
                        <button>Delet</button>
                    </td>
                </tr>
                <% })%>
        </tbody>
    </table>

</body>

</html>